<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../static/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <title>支付</title>
</head>
<body>
<div id="txt"></div>
</body>
<script>
    window.onload = function () {
        pay();
    };

    function pay() {
        $.ajax({
            url:'/alipay/webPay',
            type:'GET',
            success:function(res) {
                $("#txt").html(res.message);
            }
        });
    }
</script>
</html>