<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test WebSocket</title>
    <script type="text/javascript" src="../static/js/jquery-1.11.0.min.js"></script>
</head>
<body>

<button onclick="start()">开始测试</button>

</body>
<script>

    function start() {
        init();
    }

    function init() {
        console.log("进来了")
        let ws = new WebSocket("ws://localhost:8080/cmd/prod");

        ws.onopen = function(){}

        ws.onmessage = function(value) {

            console.log(value + "---");
        }
    }

</script>

</html>